<h1>Your new task has been added with success :</h1>

<p>Your task is :</p>
<p> <%= @task.title %></p>
<p> <%= @task.description %></p>
<p> Status : <%= @task.status %></p>
<%= link_to 'Back', tasks_path %>
